<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
     <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="/Layout/login.css">
    <script src="/scripts/login.js" defer></script>
</head>

<body>
    <!-- MAIN -->
    <main>
        <div class="general_div">

            <div class="title_div">
                <h1>Title Web Microscopis</h1>
            </div>

            <div class="login_div">
                <form id="login_form">
                    <div class="input_div">
                        <label for="mail">Email:</label>
                        <input type="email" id="mail" name="mail" placeholder="mail" required>
                    </div>
                    <div class="input_div">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="password" required >
                    </div>
                    <div class="button_div">
                        <button class="login-btn" type="submit">Login</button>
                    </div>
                </form>
            </div>
             <div style="text-align: center; margin-top: 20px;">
                    <p>No tens compte? <a href="/Layout/register.html" style="color: #179F59; text-decoration: none;">Registra't</a></p>
            </div>

            
        </div>
    </main>


</body>

</html>