body {
    font-family: 'Poppins', sans-serif;
    background-color: #9cff9b;
}
div.general_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.title_div {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 60px;
    color: #179F59;
    font-size: 30px;
}
div.login_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 300px;
}
form.login_form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #179F59;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #137a43;
}
label {
    color: #179F59;
    font-weight: bold;
}